.CenterText {
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
  font-size: xx-large;
}
.largeCenterText {
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
  font-size: 1600%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html {
height: 100%;
background-image: linear-gradient(purple,teal);
}
body {
background-color: initial;
}