.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.largeCenterImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
}
.CenterImageText {
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 600%);
  font-size: xx-large;
}
.largeCenterImageText {
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 600%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
html {
height: 100%;
background-image: linear-gradient(purple,teal);
}
body {
background-color: initial;
}