body {
  margin: 0px;
  background-color:#222;
}
.navBar {
  list-style-type: none;
  margin: 0px;
  padding: 8px;
  overflow: hidden;
  background-color: #333;
}
.navItem {
  float: right;
}
.logo {
  float: left;
  width: auto;
  height: 40px;
}
.navItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navItem a:hover {
  background-color: #333;
}
.button {
  background-color: rgb(250, 154, 109);
  border-color: rgb(163, 100, 70);
  font-size: x-large;
  font-weight: 600;
}
.tiler {
  margin: 5%;
}
.tile-text {
  text-align: center;
  color: white;
  font-size: xx-large;
  width: 100%;
  height: 15.5vh;
  border-radius: 25px;
}
.tile-link {
  text-decoration: none;
}
.tile-img {
  width: 100%;
  height: 60%;
  border-radius: 25px;
}
.large-tile {
  float: left;
  border-radius: 25px;
  width: 25%;
  height: 50%;
  margin: 4.1%;
  background-color: #333;
}
.small-tile {
  float: left;
  border-radius: 3%;
}
.wide-tile {
  float: left;
  border-radius: 3%;
}